{
    "extends": [
        "./node_modules/eslint-config-dimio/index.js",
    ],
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "greasemonkey": true,
    }
}